<a href="https://colab.research.google.com/github/pkaliahmar/Python-Course/blob/main/Class-11(lists).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 1. Create a List of N numbers entered by user
n = int(input("Enter number of elements: "))
lst = []
for i in range(n):
    val = int(input(f"Enter element {i+1}: "))
    lst.append(val)
print("Created List:", lst)

Enter number of elements: 6
Enter element 1: 4
Enter element 2: 3
Enter element 3: 2
Enter element 4: 5
Enter element 5: 1
Enter element 6: 1
Created List: [4, 3, 2, 5, 1, 1]

In [3]:
# 2. Print First and Last Element of List
print("First element:", lst[0])
print("Last element:", lst[-1])

First element: 4
Last element: 1

In [4]:

# 3. Find Maximum and Minimum in List
print("Maximum:", max(lst))
print("Minimum:", min(lst))

Maximum: 5
Minimum: 1

In [6]:
# 4. Calculate Sum of List Elements
print("Sum of elements:", sum(lst))

Sum of elements: 16

In [7]:

# 5. Search for an Element in List
x = int(input("Enter number to search: "))
if x in lst:
    print(x, "found at index", lst.index(x))
else:
    print(x, "not found")

Enter number to search: 12
12 not found

In [8]:

# 6. Count Occurrences of an Element
num = int(input("Enter number to count: "))
print("Occurrences of", num, ":", lst.count(num))

Enter number to count: 2
Occurrences of 2 : 1

In [9]:
# 7. Reverse a List
print("Reversed List:", lst[::-1])

Reversed List: [1, 1, 5, 2, 3, 4]

In [10]:
# 8. Sort List in Ascending Order
print("Sorted (Ascending):", sorted(lst))

Sorted (Ascending): [1, 1, 2, 3, 4, 5]

In [11]:
# 9. Sort List in Descending Order
print("Sorted (Descending):", sorted(lst, reverse=True))

Sorted (Descending): [5, 4, 3, 2, 1, 1]

In [12]:
# 10. Remove an Element from List
rem = int(input("Enter element to remove: "))
if rem in lst:
    lst.remove(rem)
    print("Updated List:", lst)
else:
    print("Element not in list")

Enter element to remove: 5
Updated List: [4, 3, 2, 1, 1]

In [13]:
# 11. Insert an Element at a Specific Position
pos = int(input("Enter position (0-based index): "))
val = int(input("Enter value to insert: "))
lst.insert(pos, val)
print("List after insertion:", lst)

Enter position (0-based index): 0
Enter value to insert: 7
List after insertion: [7, 4, 3, 2, 1, 1]

In [14]:

# 12. Slice First 3 Elements
print("First 3 elements:", lst[:3])

First 3 elements: [7, 4, 3]

In [15]:
# 13. Slice Last 3 Elements
print("Last 3 elements:", lst[-3:])

Last 3 elements: [2, 1, 1]

In [16]:
# 14. Find Even Numbers in List
evens = [i for i in lst if i % 2 == 0]
print("Even numbers:", evens)

Even numbers: [4, 2]

In [17]:
# 15. Find Odd Numbers in List
odds = [i for i in lst if i % 2 != 0]
print("Odd numbers:", odds)

Odd numbers: [7, 3, 1, 1]

In [18]:
# 16. Find Squares of List Elements
squares = [i**2 for i in lst]
print("Squares:", squares)

Squares: [49, 16, 9, 4, 1, 1]

In [19]:
# 17. Find Second Largest Element
if len(lst) >= 2:
    unique_lst = list(set(lst))
    unique_lst.sort()
    print("Second Largest:", unique_lst[-2])
else:
    print("Not enough elements")

Second Largest: 4

In [20]:

# 18. Remove Duplicates from List
unique = list(set(lst))
print("List without duplicates:", unique)

List without duplicates: [1, 2, 3, 4, 7]

In [21]:
# 19. Concatenate Two Lists
n2 = int(input("Enter number of elements for 2nd list: "))
lst2 = []
for i in range(n2):
    val = int(input(f"Enter element {i+1}: "))
    lst2.append(val)
combined = lst + lst2
print("Concatenated List:", combined)

Enter number of elements for 2nd list: 6
Enter element 1: 7
Enter element 2: 8
Enter element 3: 7
Enter element 4: 8
Enter element 5: 7
Enter element 6: 8
Concatenated List: [7, 4, 3, 2, 1, 1, 7, 8, 7, 8, 7, 8]

In [22]:
# 20. Find Common Elements Between Two Lists
common = list(set(lst) & set(lst2))
print("Common elements:", common)

Common elements: [7]