<a href="https://colab.research.google.com/github/pkaliahmar/Python-Course/blob/main/Class-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
print ("Name : ALI AHMAR ")
print ("Father Name : Muhammad Imran yousaf")
print ("Age : 21")

Name : ALI AHMAR
Father Name : Muhammad Imran yousaf
Age : 21

In [ ]:
Age = 43
Age = input("Enter your Age : ")
print("Age = ", Age)

Enter your Age : 89
Age =  89

In [ ]:
U_Name = "University of management and Technology"
print (U_Name)
type(U_Name)

University of management and Technology

str

In [ ]:
FatherName = "Imran Yousaf"
print (FatherName)

Imran Yousaf

In [ ]:
FatherName = input ("Enter your Father's Name : ")
print(FatherName)

Enter your Father's Name : Imran yousaf
Imran yousaf

In [ ]:
MotherName = input ("Enter your Mother's Name : ")
print(MotherName)

Enter your Mother's Name : Munazza Imran
Munazza Imran

In [ ]:
Age = int (input ("Enter Age : "))
print (Age)
print (type(Age))

Enter Age : 21
21
<class 'int'>

In [ ]:
Price = float(input ("Enter price : "))
print (Price)
print (type(Price))

Enter price : 20
20.0
<class 'float'>