<a href="https://colab.research.google.com/github/pkaliahmar/Python-Course/blob/main/Class-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("Hello, Python!")

Hello, Python!

In [4]:
Name = input("Enter your Name : ")
print("Hello , My name is ",Name)

Enter your Name : Ali
Hello , My name is  Ali

In [6]:
num_1 = int (input("Enter 1st number : " ))
num_2 = int (input("Enter 2nd number : " ))
sum = num_1 + num_2
print("The sum of num_1 and num_2 is = ",sum)

Enter 1st number : 23
Enter 2nd number : 2
The sum of num_1 and num_2 is =  25

In [11]:
num_1 = int (input("Enter 1st number : " ))
num_2 = int (input("Enter 2nd number : " ))
sub = num_1 - num_2
print("The difference of num_1 and num_2 is = ",sub)

Enter 1st number : 23
Enter 2nd number : 2
The difference of num_1 and num_2 is =  21

In [14]:
Name = "Muhammad Ali Ahmar"
print(f"{Name},  {type(Name)}")

Muhammad Ali Ahmar,  <class 'str'>

In [16]:
num_1 = float(input("Enter 1st number : " ))
num_2 = float (input("Enter 2nd number : " ))
product = num_1 * num_2
print("The product of num_1 and num_2 is = ",product)

Enter 1st number : 5
Enter 2nd number : 6
The product of num_1 and num_2 is =  30.0

In [20]:
number_1 = int(input("Enter a number : "))
number_2 = int(number)
sum = number_2 + 10
print ("sum of number and 10 is : ", sum)

Enter a number : 23
sum of number and 10 is :  33

In [21]:
num_1 = int (input("Enter a number : "))
num_2 = str(num_1)
print (f"{num_2}",{type(num_2)})

Enter a number : 2222
2222 {<class 'str'>}

In [22]:
num_1 = float(input("Enter 1st number : " ))
num_2 = float (input("Enter 2nd number : " ))
div = num_1 / num_2
print("num_1 divided by num_2 is = ",div)

Enter 1st number : 22
Enter 2nd number : 2
num_1 divided by num_2 is =  11.0

In [23]:
a,b,c = 5,6,7
print (a,"  ",b,"  ",c)

5    6    7