<a href="https://colab.research.google.com/github/pkaliahmar/Python-Course/blob/main/Class-11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
key = input("Enter a key: ")
value = input("Enter a value: ")

student = {
    key : value,
    "name": "Ali",
    "age": 21,
    "grade": "A"
}
for key in student.keys():
    print(key)

for value in student.values():
    print(value)

for key, value in student.items():
    print(key, ":", value)

Enter a key: ID
Enter a value: 101
ID
name
age
grade
101
Ali
21
A
ID : 101
name : Ali
age : 21
grade : A

In [ ]:
student = {}

for i in range(4):
    key = input("Enter a key: ")
    value = input("Enter a value: ")
    student[key] = value   # store in dictionary

print("\nFinal Dictionary:")
print(student)

Enter a key: Name
Enter a value: Ali
Enter a key: Age
Enter a value: 21
Enter a key: city
Enter a value: MDK
Enter a key: ID
Enter a value: 101

Final Dictionary:
{'Name': 'Ali', 'Age': '21', 'city': 'MDK', 'ID': '101'}

In [ ]:
one = {"ID", "time", "12 O'clock", "Ali", frozenset({2,3,4,5}), frozenset({22,33,44,55})}
print(one)

{'Ali', 'ID', 'time', "12 O'clock", frozenset({2, 3, 4, 5}), frozenset({33, 44, 22, 55})}

In [ ]:
data = {"Ages": [1,2,{"boys":[21,22,23]},4, {"olds": [102, 200, 300]}] , "Names": [1,{"boys" : ["ali","saad"]},3,4,5,6,{"olds":[1,2,100,200,300,4,5]}]}

# Access 200
value = data["Ages"][4]["olds"][2]
print(value)

value2 = data ["Ages"][2]["boys"][0]
print(value2)

value3 = data ["Names"][1]["boys"][1]
print (value3)

value4 = data ["Names"][6]["olds"][3]
print (value4)

300
21
saad
200