<a href="https://colab.research.google.com/github/pkaliahmar/Python-Course/blob/main/Class-11(dict).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Create a Dictionary with N key-value pairs
n = int(input("Enter number of items in dictionary: "))
d = {}
for i in range(n):
    key = input(f"Enter key {i+1}: ")
    value = input(f"Enter value for {key}: ")
    d[key] = value
print("Created Dictionary:", d)

Enter number of items in dictionary: 5
Enter key 1: Name
Enter value for Name: Ali Ahmar
Enter key 2: ID
Enter value for ID: S2023266041
Enter key 3: City
Enter value for City: Muridke
Enter key 4: Age
Enter value for Age: 21
Enter key 5: Dept.
Enter value for Dept.: CS
Created Dictionary: {'Name': 'Ali Ahmar', 'ID': 'S2023266041', 'City': 'Muridke', 'Age': '21', 'Dept.': 'CS'}

In [2]:

# 2. Access Value by Key
search_key = input("Enter key to access value: ")
print("Value:", d.get(search_key, "Key not found"))

Enter key to access value: Name
Value: Ali Ahmar

In [3]:

# 3. Update Value of a Key
update_key = input("Enter key to update: ")
if update_key in d:
    new_val = input("Enter new value: ")
    d[update_key] = new_val
    print("Updated Dictionary:", d)
else:
    print("Key not found")

Enter key to update: Name
Enter new value: Muhammad Ali Ahmar
Updated Dictionary: {'Name': 'Muhammad Ali Ahmar', 'ID': 'S2023266041', 'City': 'Muridke', 'Age': '21', 'Dept.': 'CS'}

In [4]:

# 4. Add a New Key-Value Pair
new_key = input("Enter new key: ")
new_val = input("Enter new value: ")
d[new_key] = new_val
print("Dictionary after adding:", d)

Enter new key: Address
Enter new value: Lahore
Dictionary after adding: {'Name': 'Muhammad Ali Ahmar', 'ID': 'S2023266041', 'City': 'Muridke', 'Age': '21', 'Dept.': 'CS', 'Address': 'Lahore'}

In [5]:
# 5. Delete a Key-Value Pair
del_key = input("Enter key to delete: ")
if del_key in d:
    del d[del_key]
    print("Dictionary after deletion:", d)
else:
    print("Key not found")

Enter key to delete: Address
Dictionary after deletion: {'Name': 'Muhammad Ali Ahmar', 'ID': 'S2023266041', 'City': 'Muridke', 'Age': '21', 'Dept.': 'CS'}

In [6]:

# 6. Check if Key Exists
check_key = input("Enter key to check: ")
print("Exists?" , check_key in d)

Enter key to check: Age
Exists? True

In [7]:

# 7. Print All Keys
print("Keys:", list(d.keys()))

Keys: ['Name', 'ID', 'City', 'Age', 'Dept.']

In [8]:
# 8. Print All Values
print("Values:", list(d.values()))

Values: ['Muhammad Ali Ahmar', 'S2023266041', 'Muridke', '21', 'CS']

In [9]:
# 9. Print All Key-Value Pairs
print("Items:", list(d.items()))

Items: [('Name', 'Muhammad Ali Ahmar'), ('ID', 'S2023266041'), ('City', 'Muridke'), ('Age', '21'), ('Dept.', 'CS')]

In [10]:

# 10. Get Dictionary Length
print("Number of items:", len(d))

Number of items: 5

In [11]:
# 11. Merge Two Dictionaries
m = int(input("Enter number of items in second dictionary: "))
d2 = {}
for i in range(m):
    key = input(f"Enter key {i+1}: ")
    value = input(f"Enter value for {key}: ")
    d2[key] = value
d.update(d2)
print("Merged Dictionary:", d)

Enter number of items in second dictionary: 3
Enter key 1: make
Enter value for make: honda
Enter key 2: model
Enter value for model: city
Enter key 3: variant
Enter value for variant: sedan
Merged Dictionary: {'Name': 'Muhammad Ali Ahmar', 'ID': 'S2023266041', 'City': 'Muridke', 'Age': '21', 'Dept.': 'CS', 'make': 'honda', 'model': 'city', 'variant': 'sedan'}

In [12]:

# 12. Find Value with Maximum Length (if values are strings)
if d:
    max_val = max(d.values(), key=len)
    print("Longest value:", max_val)

Longest value: Muhammad Ali Ahmar

In [13]:

# 13. Find Key with Maximum Value (if numeric values)
numeric_dict = {k:int(v) for k,v in d.items() if str(v).isdigit()}
if numeric_dict:
    max_key = max(numeric_dict, key=numeric_dict.get)
    print("Key with maximum numeric value:", max_key)

Key with maximum numeric value: Age

In [14]:

# 14. Create Dictionary from Two Lists
keys = input("Enter keys separated by space: ").split()
values = input("Enter values separated by space: ").split()
dict_from_lists = dict(zip(keys, values))
print("Dictionary from lists:", dict_from_lists)

Enter keys separated by space: Name Age make model
Enter values separated by space: Ali 21 honda city
Dictionary from lists: {'Name': 'Ali', 'Age': '21', 'make': 'honda', 'model': 'city'}

In [15]:
# 15. Count Frequency of Characters in a String
s = input("Enter a string: ")
freq = {}
for ch in s:
    freq[ch] = freq.get(ch, 0) + 1
print("Character frequencies:", freq)

Enter a string: pakistan zindabad
Character frequencies: {'p': 1, 'a': 4, 'k': 1, 'i': 2, 's': 1, 't': 1, 'n': 2, ' ': 1, 'z': 1, 'd': 2, 'b': 1}

In [16]:

# 16. Count Frequency of Words in a Sentence
sentence = input("Enter a sentence: ").split()
word_freq = {}
for word in sentence:
    word_freq[word] = word_freq.get(word, 0) + 1
print("Word frequencies:", word_freq)

Enter a sentence: a quick brown fox jumps over the lazy dog
Word frequencies: {'a': 1, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'the': 1, 'lazy': 1, 'dog': 1}

In [17]:

# 17. Swap Keys and Values
swapped = {v:k for k,v in d.items()}
print("Swapped dictionary:", swapped)

Swapped dictionary: {'Muhammad Ali Ahmar': 'Name', 'S2023266041': 'ID', 'Muridke': 'City', '21': 'Age', 'CS': 'Dept.', 'honda': 'make', 'city': 'model', 'sedan': 'variant'}

In [18]:

# 18. Remove Duplicate Values
unique_dict = {}
for k,v in d.items():
    if v not in unique_dict.values():
        unique_dict[k] = v
print("Dictionary without duplicate values:", unique_dict)

Dictionary without duplicate values: {'Name': 'Muhammad Ali Ahmar', 'ID': 'S2023266041', 'City': 'Muridke', 'Age': '21', 'Dept.': 'CS', 'make': 'honda', 'model': 'city', 'variant': 'sedan'}

In [19]:
# 19. Find Common Keys Between Two Dictionaries
common_keys = set(d.keys()) & set(d2.keys())
print("Common keys:", common_keys)

Common keys: {'make', 'variant', 'model'}

In [20]:
# 20. Nested Dictionary Example
students = {}
num_students = int(input("Enter number of students: "))
for i in range(num_students):
    name = input("Enter student name: ")
    age = int(input(f"Enter {name}'s age: "))
    grade = input(f"Enter {name}'s grade: ")
    students[name] = {"age": age, "grade": grade}
print("Nested Dictionary:", students)

Enter number of students: 7
Enter student name: A
Enter A's age: 21
Enter A's grade: B+
Enter student name: B
Enter B's age: 22
Enter B's grade: B-
Enter student name: C
Enter C's age: 20
Enter C's grade: A+
Enter student name: D
Enter D's age: 21
Enter D's grade: D
Enter student name: E
Enter E's age: 22
Enter E's grade: B+
Enter student name: F
Enter F's age: 23
Enter F's grade: F
Enter student name: G
Enter G's age: 19
Enter G's grade: A+
Nested Dictionary: {'A': {'age': 21, 'grade': 'B+'}, 'B': {'age': 22, 'grade': 'B-'}, 'C': {'age': 20, 'grade': 'A+'}, 'D': {'age': 21, 'grade': 'D'}, 'E': {'age': 22, 'grade': 'B+'}, 'F': {'age': 23, 'grade': 'F'}, 'G': {'age': 19, 'grade': 'A+'}}