<a href="https://colab.research.google.com/github/pkaliahmar/Python-Course/blob/main/Task-4(tuples).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Q1 (Tuple) - Create a tuple from user input
data = tuple(input("Enter elements separated by space: ").split())
print("Tuple is:", data)

Enter elements separated by space: 12 cars 1947 orange-juice
Tuple is: ('12', 'cars', '1947', 'orange-juice')

In [2]:
# Q2 (Tuple) - Access element by index
data = tuple(input("Enter elements separated by space: ").split())
index = int(input("Enter index to access: "))
print("Element at index", index, ":", data[index])

Enter elements separated by space: 12 cars 1947 orange-juice happy
Enter index to access: 3
Element at index 3 : orange-juice

In [3]:
# Q3 (Tuple) - Find length of tuple
data = tuple(input("Enter elements separated by space: ").split())
print("Length of tuple:", len(data))

Enter elements separated by space: 1 2 3 4 5 6 7
Length of tuple: 7

In [4]:
# Q4 (Tuple) - Count occurrences of an element
data = tuple(input("Enter elements separated by space: ").split())
element = input("Enter element to count: ")
print("Count of", element, ":", data.count(element))

Enter elements separated by space: 6 9 2 5 4 8 5 7 1 7 4 5 3 6 2 9 8 4 5
Enter element to count: 6
Count of 6 : 2

In [5]:
# Q5 (Tuple) - Find index of an element
data = tuple(input("Enter elements separated by space: ").split())
element = input("Enter element to find index: ")
print("Index of", element, ":", data.index(element))

Enter elements separated by space: 6 9 2 5 4 8 5 7 1 7 4 5 3 6 2 9 8 4 5
Enter element to find index: 1
Index of 1 : 8

In [6]:
# Q6 (Tuple) - Check if element exists
data = tuple(input("Enter elements separated by space: ").split())
element = input("Enter element to check: ")
print(element, "exists in tuple?", element in data)

Enter elements separated by space: 6 9 2 5 4 8 5 7 1 7 4 5 3 6 2 9 8 4 5
Enter element to check: 7
7 exists in tuple? True

In [9]:
# Q7 (Tuple) - Convert tuple to list
data = tuple(input("Enter elements separated by space: ").split())
converted = list(data)
print("Converted List:", converted)

Enter elements separated by space: 6 9 2 5 4 8 5 7 1 7 4 5 3 6 2 9 8 4 5
Converted List: ['6', '9', '2', '5', '4', '8', '5', '7', '1', '7', '4', '5', '3', '6', '2', '9', '8', '4', '5']

In [10]:
# Q8 (Tuple) - Concatenate two tuples
data1 = tuple(input("Enter first tuple elements: ").split())
data2 = tuple(input("Enter second tuple elements: ").split())
print("Concatenated Tuple:", data1 + data2)

Enter first tuple elements: 6 9 2 5 4 8 5 7 1 7 4 5 3 6 2 9 8 4 5
Enter second tuple elements: red blue orange brown pink teal
Concatenated Tuple: ('6', '9', '2', '5', '4', '8', '5', '7', '1', '7', '4', '5', '3', '6', '2', '9', '8', '4', '5', 'red', 'blue', 'orange', 'brown', 'pink', 'teal')

In [11]:
# Q9 (Tuple) - Repeat a tuple
data = tuple(input("Enter elements separated by space: ").split())
times = int(input("How many times to repeat? "))
print("Repeated Tuple:", data * times)

Enter elements separated by space: 6 9 2 5 4 8 5 7 1 7 4 5 3 6 2 9 8 4 5
How many times to repeat? 4
Repeated Tuple: ('6', '9', '2', '5', '4', '8', '5', '7', '1', '7', '4', '5', '3', '6', '2', '9', '8', '4', '5', '6', '9', '2', '5', '4', '8', '5', '7', '1', '7', '4', '5', '3', '6', '2', '9', '8', '4', '5', '6', '9', '2', '5', '4', '8', '5', '7', '1', '7', '4', '5', '3', '6', '2', '9', '8', '4', '5', '6', '9', '2', '5', '4', '8', '5', '7', '1', '7', '4', '5', '3', '6', '2', '9', '8', '4', '5')

In [12]:
# Q10 (Tuple) - Find maximum and minimum
data = tuple(map(int, input("Enter numbers separated by space: ").split()))
print("Max:", max(data))
print("Min:", min(data))

Enter numbers separated by space: 6 9 2 5 4 8 5 7 1 7 4 5 3 6 2 9 8 4 5
Max: 9
Min: 1