<a href="https://colab.research.google.com/github/pkaliahmar/Python-Course/blob/main/Task-4(sets).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Q1 (Set) - Create a set from user input
data = set(input("Enter elements separated by space: ").split())
print("Set is:", data)

Enter elements separated by space: 1 2 3 4 banana bike bus  mango Usman Sara orange apple 5 1 Ali  yellow red pink
Set is: {'Ali', '2', 'yellow', 'red', 'bike', '1', '4', 'bus', 'Sara', 'banana', '3', 'mango', 'apple', 'pink', 'orange', '5', 'Usman'}

In [2]:
# Q2 (Set) - Add an element
data = set(input("Enter elements separated by space: ").split())
element = input("Enter element to add: ")
data.add(element)
print("Updated Set:", data)

Enter elements separated by space: 1 2 3 4 banana bike bus  mango Usman Sara orange apple 5 1 Ali  yellow red pink
Enter element to add: helicopter
Updated Set: {'Ali', '2', 'yellow', 'red', 'bike', '1', '4', 'bus', 'Sara', 'helicopter', 'banana', '3', 'mango', 'apple', 'pink', 'orange', '5', 'Usman'}

In [3]:
# Q3 (Set) - Remove an element
data = set(input("Enter elements separated by space: ").split())
element = input("Enter element to remove: ")
data.discard(element)   # no error if element not found
print("Updated Set:", data)

Enter elements separated by space: 1 2 3 4 banana bike bus  mango Usman Sara orange apple 5 1 Ali  yellow red pink
Enter element to remove: banana
Updated Set: {'Ali', '2', 'yellow', 'red', 'bike', '1', '4', 'bus', 'Sara', '3', 'mango', 'apple', 'pink', 'orange', '5', 'Usman'}

In [4]:
# Q4 (Set) - Find length of set
data = set(input("Enter elements separated by space: ").split())
print("Length of set:", len(data))

Enter elements separated by space: 1 2 3 4 banana bike bus  mango Usman Sara orange apple 5 1 Ali  yellow red pink
Length of set: 17

In [5]:
# Q5 (Set) - Check membership
data = set(input("Enter elements separated by space: ").split())
element = input("Enter element to check: ")
print(element, "exists in set?", element in data)

Enter elements separated by space: 1 2 3 4 banana bike bus  mango Usman Sara orange apple 5 1 Ali  yellow red pink
Enter element to check: bus
bus exists in set? True

In [6]:
# Q6 (Set) - Union of two sets
data1 = set(input("Enter first set elements: ").split())
data2 = set(input("Enter second set elements: ").split())
print("Union:", data1 | data2)

Enter first set elements: 1 2 3 4 5
Enter second set elements: 6 7 8 9 10
Union: {'2', '1', '4', '9', '3', '7', '5', '8', '6', '10'}

In [7]:
# Q7 (Set) - Intersection of two sets
data1 = set(input("Enter first set elements: ").split())
data2 = set(input("Enter second set elements: ").split())
print("Intersection:", data1 & data2)

Enter first set elements: 1 2 3 4 5
Enter second set elements: 7 6 5 4 3
Intersection: {'5', '3', '4'}

In [8]:
# Q8 (Set) - Difference of two sets
data1 = set(input("Enter first set elements: ").split())
data2 = set(input("Enter second set elements: ").split())
print("Difference:", data1 - data2)

Enter first set elements: 8 7 6 5 4 3
Enter second set elements: 6 5 4
Difference: {'8', '3', '7'}

In [9]:
# Q9 (Set) - Symmetric difference
data1 = set(input("Enter first set elements: ").split())
data2 = set(input("Enter second set elements: ").split())
print("Symmetric Difference:", data1 ^ data2)

Enter first set elements: 1 2 3 4 5 6
Enter second set elements: 1 2 7
Symmetric Difference: {'3', '6', '4', '5', '7'}

In [10]:
# Q10 (Set) - Clear all elements
data = set(input("Enter elements separated by space: ").split())
data.clear()
print("Cleared Set:", data)

Enter elements separated by space: 1 2 3 4 banana bike bus  mango Usman Sara orange apple 5 1 Ali  yellow red pink
Cleared Set: set()