<a href="https://colab.research.google.com/github/pkaliahmar/Python-Course/blob/main/Task-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 1 print numbers from one to N
n = int(input("Enter a number: "))
for i in range(1, n+1):
    print(i)

Enter a number: 5
1
2
3
4
5

In [2]:
# 2  print first N even numbers

n = int(input("Enter how many even numbers: "))
for i in range(2, 2*n+1, 2):
    print(i)

Enter how many even numbers: 3
2
4
6

In [4]:
# 3 Print first N odd numbers
n = int(input("Enter how many odd numbers: "))
for i in range(1, 2*n, 2):
    print(i)

Enter how many odd numbers: 4
1
3
5
7

In [5]:
# 4 Sum of numbers from 1 to N

n = int(input("Enter a number: "))
total = 0
for i in range(1, n+1):
    total += i
print("Sum:", total)

Enter a number: 4
Sum: 10

In [6]:
# 5 Multiplication table of a number
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter a number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [7]:
# 6 squre of numbers from one to N
n = int(input("Enter a number: "))
for i in range(1, n+1):
    print(i, "squared is", i**2)

Enter a number: 3
1 squared is 1
2 squared is 4
3 squared is 9

In [8]:
# 7 factorial of a number
n = int(input("Enter a number: "))
fact = 1
for i in range(1, n+1):
    fact *= i
print("Factorial:", fact)

Enter a number: 5
Factorial: 120

In [9]:
# 8 Reverse count from N down to 1
n = int(input("Enter a number: "))
for i in range(n, 0, -1):
    print(i)

Enter a number: 5
5
4
3
2
1

In [11]:
# 9 Print sum of even numbers up to N
n = int(input("Enter a number: "))
total = 0
for i in range(2, n+1, 2):
    total += i
print("Sum of even numbers:", total)

Enter a number: 9
Sum of even numbers: 20

In [12]:
# 10 Print sum of odd numbers up to N
n = int(input("Enter a number: "))
total = 0
for i in range(1, n+1, 2):
    total += i
print("Sum of odd numbers:", total)

Enter a number: 3
Sum of odd numbers: 4

In [13]:
# 11. Find square of a number using a function
def square(num):
    return num ** 2

n = int(input("Enter a number: "))
print("Square:", square(n))

Enter a number: 4
Square: 16

In [14]:
# 12. Find cube of a number using a function
def cube(num):
    return num ** 3

n = int(input("Enter a number: "))
print("Cube:", cube(n))

Enter a number: 999
Cube: 997002999

In [15]:
# 13. Check if number is even or odd using a function
def check_even_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

n = int(input("Enter a number: "))
print("Result:", check_even_odd(n))

Enter a number: 23
Result: Odd

In [16]:
# 14. Find maximum of two numbers using a function
def maximum(a, b):
    return a if a > b else b

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print("Maximum:", maximum(x, y))

Enter first number: 23
Enter second number: 21
Maximum: 23

In [17]:
# 15. Find factorial of a number using a function
def factorial(num):
    fact = 1
    for i in range(1, num+1):
        fact *= i
    return fact

n = int(input("Enter a number: "))
print("Factorial:", factorial(n))

Enter a number: 25
Factorial: 15511210043330985984000000

In [18]:
# 16. Find square of a number using a lambda function
square = lambda num: num ** 2
n = int(input("Enter a number: "))
print("Square:", square(n))

Enter a number: 21
Square: 441

In [19]:
# 17. Find cube of a number using a lambda function
cube = lambda num: num ** 3
n = int(input("Enter a number: "))
print("Cube:", cube(n))

Enter a number: 4
Cube: 64

In [20]:
# 18. Check if number is even or odd using a lambda function
check_even_odd = lambda num: "Even" if num % 2 == 0 else "Odd"
n = int(input("Enter a number: "))
print("Result:", check_even_odd(n))

Enter a number: 23
Result: Odd

In [21]:
# 19. Find maximum of two numbers using a lambda function
maximum = lambda a, b: a if a > b else b
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print("Maximum:", maximum(x, y))

Enter first number: 21
Enter second number: 222
Maximum: 222

In [22]:
# 20. Find factorial of a number using a lambda function and reduce()
from functools import reduce
factorial = lambda n: reduce(lambda x, y: x * y, range(1, n+1), 1)
n = int(input("Enter a number: "))
print("Factorial:", factorial(n))

Enter a number: 5
Factorial: 120